.suggestions {
  padding: 0;
}

li {
  text-align: left;
  display: block;
  padding: 10px 0;
  width: 100%;
}

button {
  padding: 10px 15px;
  background-color: #39CCCC;
  color: white;
  display: inline-block;
  width: 100%;
  border-radius: 25px;
  text-decoration: none;
  text-align: left;
  font-size: 14px;
  font-family: monospace;
}

button:hover {
  text-decoration: underline;
}

.active {
  background-color: #5ed5fc;
}

.label-status {
  padding: 5px 10px;
  margin: 5px 10px;
  border-radius: 25px;
  display: inline-block;
  color: #414141;
}